.results-list {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between; 
    margin-top: 20px; 
    min-width: 100%;
    background-color: #eee;
}

.results-list > div {
    flex: 1;
    margin: 10px -10px; 
    padding: 10px;
    min-width: 200px;
}

.no-jokes{
    padding: 10px;
}

#h2 {
    background-color: red;
}


.joke-item h2 {
    color: #f5ba13;
    font-size: 1.2rem;
  }

